@import './variables.scss';

/*---------------------- GOOGLE fonts ----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

// ---------------------- RESET ----------------------/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

// ---------------------- COMMON ----------------------/
body {
    font-family: 'Roboto';
}
header {
    background-color: #2e3a46;
}
.AlbumSection {
    background-color: #141f2c;
}